* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;  /*снимаем все автомат.настройки стилей сайта. border-box -чтобы контент не растягивал контейнер */
}

body {
    background-color: #eeeff1;
    font-family: 'Montserrat';
    padding-left:  20px; /*устанавливает внутренние отступы/поля со всех сторон body*/
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.wrapper{
    background: rgb(240, 238, 238);
    /*margin: 40px;  внешние отступы- делаем либо margin в wrapper, либо padding в body */
    display: flex;  /*весь контент заносим вправо*/
    max-width: 1200px; /*задаем ширину нашей страници */
    margin: 0 auto; /* сцентрировали наш текст на странице*/
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15) /* сделали тень рамки */
}
.sidebar{
    background: #1e2939;
    width: 600px;  /* ширина левой колонки - скилы*/
    padding-top: 40px; /*дедаем отступ сверху фото*/
    padding-bottom: 20px; /*дедаем отступ снизу сайдбара*/
}

.my-photo{
    width: 60%;
    margin-left:  70px;
    border-radius: 2%;   /* закругление рамки */
    border: 3px solid rgb(26, 27, 26); /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */

   
}
.about-me-container{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.contacts-container{
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;

}
.contacts-title{
   font-size: 24px;
   font-weight: 700;
   line-height: 24px;
   color: #ffffff;
   margin-bottom: 20px;
}

.contacts-link{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #8e949c;
}
.contacts-link-type {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #d67637;
    margin-right: 10px;
}
.contacts-link-type-City {
    margin-right: 0px;
}
.tech-skills-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 30px;
    color: #fff;
}

.tech-skills-container{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
}
.tech-skills-item {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #ff7e28; /* сделали полностью весь блок оранж., в span отдельно сделаем контент белым */
    margin-left: 15px; /*выравниваем точки от края*/
}
.tech-skills-text{
    color: #a7acb2;  /*мы обернули в span наш текст и сделалаи его отдельно белым */
}
.soft-skills-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 30px;
    color: #fff;
}
.Soft-Skills-container{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
}
.Soft-skills-item {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #ff7e28; /* сделали полностью весь блок оранж., в span отдельно сделаем контент белым */
    margin-left: 15px; /*выравниваем точки от края*/
}
.Soft-skills-text{
    color: #a7acb2;  /*мы обернули в span наш текст и сделалаи его отдельно белым */
}
.profession{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 23px;
}
.name{
    font-size: 40px;
    font-weight: 700;
    line-height: 89px;
}

.description{
    font-size: 18px;
    font-weight: 400;
    text-indent: 20px;   /* Отступ для первой строки каждого абзаца */
    line-height: 24px;   /* Увеличенное расстояние между строками для удобства чтения */
    margin-top: 24px;
   /* width: 450px;      ширина блока описания о себе, мі не задаем, чтобы на разных устройствах контент открывался всем текстом*/
}
.info-container{
    margin-bottom: 55px;    /* расстояние about до work experience*/
    
}
.about-me-title{
    font-size: 32px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 15px;
}
.project-limk{
    color: #595959;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}
.tech-name{
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.dots{
    font-weight: 100;
}
.projects-item {
    font-weight: 700;
    margin-left: 17px;
}
.projects-container{
    margin-bottom: 55px;  /* нижний отступ */
}
.Profession-title{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 28px;
    margin-bottom: 15px;
    
}
.profession-company{
    color: #eb670f;
}
.profession-time{
    color: #a19797;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}
.profession-duties{
    margin-top: 28px;
    margin-bottom: 30px;
}

.profession-duties-item{
    font-size: 18px;         /* размер строк */
    font-weight: 400;
    line-height: 24px;
    margin-left: 25px;
}

.profession-education{
    font-size: 18px;         /* размер строк */
    color:#595959
}
@media print {
    body {
        margin: 0; /* Удаляем отступы у body */
    }

    .wrapper {
        width: 100%; /* Задаем ширину для печати */
        height: auto; /* Высота авто для печати */
        box-shadow: none; /* Убираем тень */
    }

    /* Скрываем элементы, которые не нужны при печати */
    @page {
        margin: 0; /* Убираем отступы страницы */
    }


}


